@import "main";

*, *:before, *:after { box-sizing: border-box; }
body { font-family: 'Gilda Display', serif; }
a { text-decoration: none; color: #f2956a; }
a:hover { border-bottom: 1px solid #ccc; }

@import "../bower_components/normalize-css/normalize.css";

@import "../bower_components/suit-base/base.css";
@import "../bower_components/suit-flex-embed/flex-embed.css";
@import "../bower_components/suit-form/form.css";

@import "../bower_components/suit-utils-size/dimension.css";

@import "components/body-image";
@import "components/menu";
@import "components/content";

@import "components/menu-toggle";
@import "components/center-box";
@import "components/url-box";
@import "components/url-form";